html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #444;
  color: #DDD;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #CCC;
  background-color: #222;
}

a:visited {
  color: #BBB;
  background-color: #222;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1em;
}
.thumbnail {
  max-width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #222;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.thumbnail img {
  max-width: 100%;
}

.breadcrumb {
  padding: 0.5em;
  margin: 0.5em;
  background-color: #222;
  border-radius: 0.5em;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.content a {
  padding: 1em;
}