{{define "contentViewerHTML"}}
<div class='content'>
{{ if .IsImage }}

  <img src='{{.RawPath}}' />
{{ end }}
{{ if .IsVideo }}
  <video><source src='{{.RawPath}}' type='{{.FileType}}'/>Unsupported Browser</video>
{{ end }}
<a href='{{.RawPath}}'>Full File ({{.FileType}})</a>
</div>
{{end}}