{{define "galleryHTML"}}
<div class='gallery'>
<div class='thumbnail' width='300'>
  <a href='/beans.jpg'><img src='/thumbnail/beans.jpg?size=300' /></a>
  <a href='/beans.jpg'>beans.jpg</a>
</div>
</div>
{{end}}