{{define "baseHTML"}}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <link href="/static/styles.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Media Gallery</title>
  </head>
<body>
{{ if .ShowBreadcrumb }}
  {{template "breadcrumbHTML" .}}
{{ end }}
{{ if .ShowGallery }}
  {{template "galleryHTML" .}}
{{ else }}
  {{template "contentViewerHTML" .}}
{{ end }}
</body>
</html>
{{end}}